.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.padding-top-fourth {
    padding-top: 25%;
}

.booking-color {
    color: #003580;
}

input, select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.align {
    padding-top: 10%;
    padding-bottom: 10%;
}

.search-form-background {
    background-color: #ededed;

}

.image-size {
    width: 200px;
    height: 200px;
}

.image-size-card {
    width: 1151px;
    height: auto;
}

.margin-bottom {
    margin-bottom: 25px;
}

.custom-margin {
    margin: 20px;
}

input[type=checkbox] {
    transform: scale(0.5);
}

.margin-left-label {
    margin-left: 25px;
}

.margin-left-checkbox {
    margin-top: -1.9rem;
    margin-left: -34.15rem;
}

.custom-container {
    margin: 0 5% 5% 5%;
}

.sidebar-container {
    width: auto;
    margin-left: 225px;
}

.admin-sidebar {
    width: 225px;
    height: 100%;
    position: absolute;
}

.checked {
    color: orange;
}

.carousel-caption {
    background-color: #3d6277;
    width: 500px;
    margin: auto;
}

footer {
    color: white;
}

footer a {
    color: #bfffff;
}

footer a:hover {
    color: white;
}

.footer-bottom {
    background: #3d6277;
    padding: 2em;
}

.footer-top {
    background: #2d4958;
}

.footer-middle {
    background: #3d6277;
    padding-top: 2em;
    color: white;
}

/**Sub Navigation**/
.subnavigation-container {
    background: #3d6277;
}

.subnavigation .nav-link {
    color: white;
    font-weight: bold;
}

.subnavigation-container {
    text-align: center;
}

.subnavigation-container .navbar {
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}

.col-subnav a {
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
}

.col-subnav .active {
    border-top: 5px solid orange;
    background: white;
    color: black;
}

.none {
    display: none;
}

.auto-width {
    width: auto;
}

.resize-none {
    resize: none;
    height: 200px;
}

a {
    color: #3d6277;
}

.add-button {
    color: green;
}

.delete-button {
    color: red;
}

.edit-button {
    color: #3d6277;
}

.button-group-float-right {
    float: right;
}

.horizontal-center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
