.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.padding-top-fourth {
    padding-top: 25%;
}

.booking-color {
    color: #003580;
}

input, select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.align {
    padding-top: 10%;
    padding-bottom: 10%;
}

.search-form-background {
    background-color: #ededed;

}

.image-size {
    width: 200px;
    height: 200px;
}

.image-size-card {
    width: 1151px;
    height: auto;
}

.margin-bottom {
    margin-bottom: 25px;
}

.custom-margin {
    margin: 20px;
}

input[type=checkbox] {
    transform: scale(0.5);
}

.margin-left-label {
    margin-left: 25px;
}

.margin-left-checkbox{
    margin-top: -1.9rem;
    margin-left: -34.15rem;
}

.custom-container {
    margin: 0 5% 5% 5%;
}

.sidebar-container {
    width: auto;
    margin-left: 225px;
}

.admin-sidebar {
    width: 225px;
    height: 100%;
    position: absolute;
}

.checked {
    color: orange;
}
.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}
